# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/

# PyBuilder
target/

# Environments
.env
.venv
env/
venv/

# IDEs
.idea/
.vscode/


